{% extends "blog/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <h5>Looks like an user is already logged in. Logout to continue further.<br>You will be redirected to home in <span id="counter">5</span> seconds.</h5>
    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("{% url 'blog:post_list' %}");
            }
        }, 1000);
    </script>
    {% else %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


    <form action="{% url 'login' %}" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p><h6>Not a user? <a href="{% url 'blog:signup' %}?next={{ next }}">Click here to register!</a></h6></p>
    {% endif %}
{% endblock %}