{% extends "blog/base.html" %}
{% block content %}
                <div class='post'>
                    <div class="save date">
                        <p>                            
                            {% if post.published_date %}
                            {{ post.published_date }}
                            {% else %}
                            <a class="btn btn-light" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>
                            {% endif %}
                            {% if user == post.author %}
                            <a class="btn btn-light" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="fas fa-pencil-alt"></a>
                            <a class="btn btn-light" href="{% url 'blog:post_remove' pk=post.pk %}"><span class="fas fa-times"></span></a>
                            {% endif %}
                        </p>
                    </div>                    
                    <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>                  
                    <p>{{ post.text|safe|linebreaksbr }}</p>
                </div>
                <hr>
                <a id="comment_section"><h4>Comments:</h4></a>
                <hr>
                <a class="btn btn-light" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Add comment</a>
                {% for comment in post.comment_set.all %}
                    {% if user == post.author or comment.approved_comment %}
                    <div class="comment">
                        <div class="date">
                            {{ comment.created_date }}
                            {% if not comment.approved_comment %}
                                <a class="btn btn-light" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="fas fa-times"></span></a>
                                <a class="btn btn-light" href="{% url 'blog:comment_approve' pk=comment.pk %}">OK</a>
                            {% endif %}
                        </div>
                        <strong>{{ comment.author }}</strong>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                    {% endif %}
                    <hr>
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}
{% endblock %}