{% extends "blog/base.html" %}
{% block content %}
                {% for post in posts %}
                <div class='post'>
                  <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                  <div class="date">
                    <p><B>Published On:</B> {{ post.published_date }}</p>
                  </div>
                  <p>{{ post.text|safe|linebreaksbr|truncatewords:30}}...</p>
                  <h6 class="comcount">
                    <a href="{% url 'blog:post_detail' pk=post.pk %}#comment_section">Comments: {{ post.approved_comments.count }}</a>
                  </h6>
                </div>
                {% empty %}
                <p><h5>Oops! Looks like no post is published yet. </h5></p>
                {% endfor %}
{% endblock %}